body {
    margin: 0;
    overflow: hidden; /* Pour Ã©viter le dÃ©filement de la page */
}

#joystick-profondeur-container {
    width: 50px;
    height: 250px;
    background-color: #ccc;
    border-top-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-top-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    position: fixed;
    bottom: 100px; /* Ajustez la distance par rapport au bas de la page */
    left: 100px; /* Ajustez la distance par rapport Ã  la droite de la page */
}

#joystick-profondeur-handle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#joystick-vitesse-container {
    width: 50px;
    height: 250px;
    background-color: #ccc;
    border-top-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-top-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    position: fixed;
    bottom: 100px; /* Ajustez la distance par rapport au bas de la page */
    left: 200px; /* Ajustez la distance par rapport Ã  la droite de la page */
}

#joystick-vitesse-handle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#joystick-direction-container {
    width: 400px;
    height: 50px;
    background-color: #ccc;
    border-top-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-top-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    position: fixed;
    right: 150px; /* Ajustez la distance par rapport au bas de la page */
    bottom: 100px; /* Ajustez la distance par rapport Ã  la droite de la page */
}

#joystick-direction-handle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#joystick-values {
    position: fixed;
    top: 10px; /* Ajustez la distance par rapport au haut de la page */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centre horizontalement */
    text-align: center; /* Centrer le texte horizontalement */
    display: flex; /* Utiliser le modÃ¨le de boÃ®te flexible */
}

#joystick-values p {
    margin: 0 20px; /* Marge entre chaque compteur */
}




#map {
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    position: absolute;
    top: 20px; /* Distance par rapport au haut de la fenêtre */
    left: 20px; /* Distance par rapport à la gauche de la fenêtre */
}

.trait-vertical {
    position: absolute;
    left: 170px; /* Marge de gauche */
    top: 20px; /* Marge supérieure */
    width: 2px; /* Largeur du trait */
    height: 300px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}

.trait-horizontal {
    position: absolute;
    left: 20px; /* Marge de gauche */
    top: 170px; /* Marge supérieure */
    width: 300px; /* Largeur du trait */
    height: 2px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}