<!-- index.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/control.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <div id="joystick-vitesse-container">
        <div id="joystick-vitesse-handle"></div>
    </div>
    <div id="joystick-profondeur-container">
        <div id="joystick-profondeur-handle"></div>
    </div>
    <div id="joystick-direction-container">
        <div id="joystick-direction-handle"></div>
    </div>
    <div id="joystick-values">
        <p>Vitesse: <span id="vitesse-value">0</span></p>
        <p>Profondeur: <span id="profondeur-value">0</span></p>
        <p>Direction: <span id="direction-value">0</span></p>
    </div>
    <script src="{{ url_for('static', filename='js/control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/RPICom.js') }}"></script>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
</body>
</html>
