body {
    margin: 0;
    overflow: hidden; /* Pour éviter le défilement de la page */
}

#joystick-profondeur-container {
    width: 50px;
    height: 250px;
    background-color: #ccc;
    border-top-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-top-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    position: fixed;
    bottom: 100px; /* Ajustez la distance par rapport au bas de la page */
    left: 100px; /* Ajustez la distance par rapport à la droite de la page */
}

#joystick-profondeur-handle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#joystick-vitesse-container {
    width: 50px;
    height: 250px;
    background-color: #ccc;
    border-top-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-top-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    position: fixed;
    bottom: 100px; /* Ajustez la distance par rapport au bas de la page */
    left: 200px; /* Ajustez la distance par rapport à la droite de la page */
}

#joystick-vitesse-handle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#joystick-direction-container {
    width: 400px;
    height: 50px;
    background-color: #ccc;
    border-top-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-top-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-left-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    border-bottom-right-radius: 25px; /* Ajustez la valeur pour changer le rayon */
    position: fixed;
    right: 150px; /* Ajustez la distance par rapport au bas de la page */
    bottom: 100px; /* Ajustez la distance par rapport à la droite de la page */
}

#joystick-direction-handle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#joystick-values {
    position: fixed;
    top: 10px; /* Ajustez la distance par rapport au haut de la page */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centre horizontalement */
    text-align: center; /* Centrer le texte horizontalement */
    display: flex; /* Utiliser le modèle de boîte flexible */
}

#joystick-values p {
    margin: 0 20px; /* Marge entre chaque compteur */
}